{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock %}

{% block style %}
<!--
<style>
    input, select, textarea {
        display: block;
        margin: auto;
    }
    label {
        margin: auto;
    }
</style>
-->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <br>
            <h1>Register Page</h1>
            <hr class="mt-0 mb-4">
            {% if error %}
                {{ error }}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {{ addressform|crispy }}
                <button type="submit" class="btn btn-success">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}

